<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" method="post" action="/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a href="/createProduct"><button class="btn btn-info my-2 my-sm-0" type="submit">Create new product</button></a>
        <a href="/logout"><button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button></a>
    </nav>



    <div class="container-fluid">
        <div class="row">
            <!-- Make a single box of product for each product -->
            <div class="container jumbotron ">
                <table class="w-100">
                    <tr class="col-3">
                        <th>Image</th>
                        <th>Product</th>
                        <th>ID</th>
                        <th>Price</th>
                    </tr>
                    <tr style="border: black solid 2px" th:each="product : ${products}" class="tableBackground">
                        <form th:action="${'addProductToCart/'} + ${product.ID}" method="post">
                            <td class="fixTd"><img  class="fixImage" th:block th:src="${product.image}"></img></td>
                            <td th:text="${product.name}"></td>
                            <td class="fixIDTd" th:text="${product.ID}"></td>
                            <td th:text="${product.price}"></td>
                            <td><button class="btn btn-primary btn-lg">Add to cart</button></td>
                        </form>
                    </tr>
                </table>
            </div>

            <!-- Current shopping cart -->
            <div id="cart">
                <h1>Current shopping cart</h1>
                <table>
                    <th>Name</th>
                    <th>price each</th>
                    <th>quantity</th>
                    <th>total</th>
                    <tr style="border: black solid 1px" th:each="item : ${cart}">
                        <td th:text="${item.key.name}"></td>
                        <td th:text="${item.key.price}"></td>
                        <td th:text="${item.value}"></td>
                        <td th:text="${item.key.price * item.value}"></td>
                        <form th:action="${'removeProductFromCart/'} + ${item.key.ID}" method="post">
                            <td><button class="btn btn-outline-danger btn-sm">X</button></td>
                        </form>
                    </tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Grand total: </td>
                    <td th:text="${total}"></td>
                </table>
            </div>

        </div>


    </div>





</body>
</html>