<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" method="post" action="/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a href="/createProduct"><button class="btn btn-info my-2 my-sm-0" type="submit">Create new product</button></a>
        <a href="/logout"><button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button></a>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cart
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="margin-top: 10%; width: 400px">
                <table class="text-center" style="width: 100%">
                    <th>name</th>
                    <th>price each</th>
                    <th>quantity</th>
                    <th>total</th>
                    <tr style="border: black solid 1px" th:each="item : ${cart}">
                        <td th:text="${item.key.name}"></td>
                        <td th:text="${item.key.price}"></td>
                        <td th:text="${item.value}"></td>
                        <td th:text="${item.key.price * item.value}"></td>
                        <form th:action="${'removeProductFromCart/'} + ${item.key.ID}" method="post">
                            <td><button class="btn btn-outline-danger btn-sm">X</button></td>
                        </form>
                    </tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Grand total: </td>
                    <td th:text="${total}"></td>
                </table>
            </div>
        </div>

    </nav>

    <div class="container-fluid" style="margin-top: 2.5%; margin-left: 10%">
        <div class="row">
            <div class="jumbotron col-8">
                <div>
                    <h1 class="listHeader">Randomly selected items</h1>
                    <table class="w-100" style="display: block; overflow-x: auto; white-space: nowrap">
                        <tr th:each="product : ${products}" class="tableBackground">
                            <form th:action="${'viewProduct/'} + ${product.ID}" method="post">
                                <button id="displayedItems" style="margin-bottom: 2%">
                                    <img  class="fixImage" th:block th:src="${product.image}"></img>
                                </button>
                            </form>
                        </tr>
                    </table>
                </div>

                <div>
                    <h1 class="listHeader">Electronics</h1>
                    <table class="w-100" style="display: block; overflow-x: auto; white-space: nowrap">
                        <tr style="border: black solid 2px;" th:each="electronic : ${electronics}" class="tableBackground">
                            <form th:action="${'viewProduct/'} + ${electronic.ID}" method="post">
                                <button id="displayedItems">
                                    <img  class="fixImage" th:block th:src="${electronic.image}"></img>
                                </button>
                            </form>
                        </tr>
                    </table>
                </div>

                <div>
                    <h1 class="listHeader">Fruits</h1>
                    <table class="w-100" style="display: block; overflow-x: auto; white-space: nowrap">
                        <tr style="border: black solid 2px;" th:each="fruit : ${fruits}" class="tableBackground">
                            <form th:action="${'viewProduct/'} + ${fruit.ID}" method="post">
                                <button id="displayedItems">
                                    <img  class="fixImage" th:block th:src="${fruit.image}"></img>
                                </button>
                            </form>
                        </tr>
                    </table>
                </div>

                <div>
                    <h1 class="listHeader">Recommended for you</h1>
                    <table class="w-100" style="display: block; overflow-x: auto; white-space: nowrap">
                        <tr style="border: black solid 2px;" th:each="recommend : ${recommendations}" class="tableBackground">
                            <form th:action="${'viewProduct/'} + ${recommend.ID}" method="post">
                                <button id="displayedItems">
                                    <img  class="fixImage" th:block th:src="${recommend.image}"></img>
                                </button>
                            </form>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>



</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>